<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="height: 100vh;">
    <h1>Aazol Exhibition</h1>
    <div id="messageDiv">
        <div id="message">
            <% if (message != '') { %>
                <%= message %>
            <% } %>
        </div>
    </div>
    <h2>Home Page - Public</h2>
    <div class="wrapper">
        <form action="/submit" method="POST">
            <div>
                <div class="personalDetails">
                    <div class="group">
                        <input type="text" name="name" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                    <div class="group">
                        <input type="text" name="email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="group">
                        <input type="number" name="phoneNo" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Phone No.</label>
                    </div>
                </div>
                <div class="group" style="display: flex;">
                    <div class="container">
                        <div class="radio_container">
                            <div class="inputRadio">
                                <input type="radio" class="paymentMode" name="paymentMode" value="Cash" checked>
                                <label for="Cash" class="paymentModeLabel">Cash</label>
                            </div>
                            <div class="inputRadio">
                                <input type="radio" class="paymentMode" name="paymentMode" value="UPI">
                                <label for="UPI" class="paymentModeLabel">UPI</label>
                            </div>
                            <div class="inputRadio">
                                <input type="radio" class="paymentMode" name="paymentMode" value="Card">
                                <label for="Card" class="paymentModeLabel">Card</label>
                            </div>
                        </div>
                        <label>Payment Mode</label> 
                    </div>
                                  
                    <div class="container" style="margin-left:20px;">
                        <textarea name="comments"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Comments (if any)</label>
                    </div>             
                </div>
                <div class="dropdown">
                    <div class="group" style="margin-bottom: 0px;">
                        <input type="text" id="droptxt" class="list" name="products" readonly required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Products</label>
                    </div>
                    <!-- <input type="text" id="droptxt" class="list" readonly> -->
                    <div id="content" class="content">
                        <div class="list"
                            style="background-color: white; display:flex; justify-content:center; align-items: center;padding: 0px;">

                            <div id="search" class="search">
                                <i class="fa fa-search search"></i>
                            </div>
                            <input type="text" class="list" placeholder="Search.." id="myInput"
                                onkeyup="filterFunction()">
                        </div>
                        <div class="allProducts">
                            <div id="noProduct" style="display:none;">No Mathcing Products Found!</div>
                            <% for (let i=0; i < allProducts.length; i++) { %>
                            <div class="list productGroup">
                                <input type="checkbox" class="list" name="item<%= i+1 %>" value="<%= allProducts[i].productName %>" />
                                <label for="apple" class="list productLabel" name="item<%= i+1 %>"><%= allProducts[i].productName %> </label>
                                <span class="input-number-increment hidden">+</span>
                                <input type="hidden" class="list input-number quantity" min="1" value="1" />
                                <span class="input-number-decrement hidden">–</span>
                                <span class="list price">(Price - Rs. <%= allProducts[i].price %>)</span>
                                <!-- <input type="hidden" class="list price" min="0" value="0" required /> -->
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <button type="submit" class="submit"> Submit</button>
                </div>

            </div>
        </form>
    </div>
    <script src="/public/js/home.js"></script>
</body>

</html>